[user]
	email = baron@baron.su
	name = Ruslan Balkin
	signingkey = E74E46A2
[push]
	default = simple
[core]
	autocrlf = input
[credential]
	helper = store
[alias]
	l = log --graph --pretty=oneline --abbrev-commit
	st = status
	br = branch
	remote = remote
	upstream = remote -v show upstream
[url "git@git.balkin.ru:"]
	insteadOf = http://git.balkin.ru/
